# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
code/cache/
data/cache/

# Notebooks
*.ipynb_checkpoints

# Temporary files
*.tmp
*.temp
*.log
*.bak
*.swp
*.swo
*~

# Operating system files
.DS_Store
Thumbs.db

# Virtual environment
venv/
env/
.genv/
*.env

# Personal configurations
*.config
*.secret
*.key

# Simulation

data/railroad_simulation_2029
data/railroad_simulation_2029.json
# data/*.geojson